/******** COMMON CLASSES *******/
.thin-margin-top { margin-top: 1rem;}
.margin-top { margin-top: 3rem;}
.medium-margin-top { margin-top: 5rem;}
.large-margin-top { margin-top: 7rem;}
.thin-margin-bottom { margin-bottom: 1rem;}
.margin-bottom { margin-bottom: 3rem;}
.medium-margin-bottom { margin-bottom: 5rem;}
.large-margin-bottom { margin-bottom: 7rem;}
.thin-inner-padding { padding: 1rem;}
.top-bottom-padding { padding: 2rem 0;}
.text-upper { text-transform: uppercase;}
.text-center { text-align: center;}
.width-50 { max-width:800px; width:90%; margin:auto; padding: 0 1rem;} 
.gray-background { background: #333;}
.gold-link { color:gold; text-decoration: none;}
.gold-link:hover {opacity: .75;}
ul {
  list-style: disc;
  margin-left: 1em;
}
li {
  margin:1em 0;
  line-height: 1.5;
}
/******** TARGETS *******/
:target {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

body {
  background-color: #f8f8f8;
  color:#555;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size:2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-family: 'PT Serif', serif;
  font-style: italic;
  opacity: .85;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  border-bottom: 3px solid gold;
  border-spacing: 4rem;
  max-width: max-content;
  width: 92%;
  padding: 0 2rem .5rem 0;
}
h3 {
  font-size: 1.12rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  border-bottom: 1px solid gold;
  border-spacing: 4rem;
  max-width: max-content;
  width:92%;
  padding: 0 .75rem .5rem 0;
}
h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  line-height: 1.2;
}
p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  line-height: 1.8;
}
b, strong {
    font-weight: bold;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
small {
  font-size:.85rem;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 90px;
  z-index: 5;
}
.navbar {
  display: none;
  height:90px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
    -moz-box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
    box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
}
.nav-logo {
  max-width: 80px;
  width: 100%;
  padding: .5rem 2rem;
}
.nav-container {
  display:flex;
  align-items: center;
  height: 100%;
}
.nav-container li{
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all .5s ease-in-out;
  border-bottom: 1px solid transparent;
}
.nav-container li:hover, .mobile-nav-container span:hover{
  background:#333;
  border-bottom: 1px solid gold;
}
.nav-container a, .mobile-nav-container a {
  color:#555;
  text-decoration:none;
  transition: all .5s ease-in;
}
.nav-container li:hover a, .mobile-nav-container span:hover a {
  color: #f8f8f8;
  
}
.navbar-mobile-container {
  display: block;
  height: 90px;
}
.navbar-mobile {
  position: relative;
  height: 90px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
    -moz-box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
    box-shadow: 0 3px 5px rgba(100, 100, 100, .49);
}
.mobile-nav-container {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 3px 5px rgba(100,100,100,.49);
    -moz-box-shadow: 0 3px 5px rgba(100,100,100,.49);
    box-shadow: 0 3px 5px rgba(100,100,100,.49);
  transition: all .5s ease-in-out;
  position: relative;
  top: -300px;
  
}
.mobile-nav-container.open {
  opacity: 1;
  top: 0;
}
.mobile-nav-container span {
  padding: 1.35rem 0;
  width: 100%;
  text-align: center;
  transition: all .5s ease-in-out;
  border-bottom: 1px solid transparent;
}
.toggle-button {
  /* height: 100%; */
  cursor: pointer;
  padding:1rem 2rem;
  font-size: 2rem;
}


main {
  position: relative;
  top:75px;
}
.logo {
  max-width: 350px;
  width:100%;
  margin: 2rem auto 0;
  display: block;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
}
.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  background: #eeeeee;
}
.message-box {
  flex: 1;
  position: relative;
}
.message-box img {
  opacity: .35;
  width:100%;
  display: block;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background:#eee;
  opacity: .8;
}
.overlay-text {
  position: absolute;  
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.overlay-text h1 {
  border-bottom: 3px solid gold;
  padding-bottom: 1rem;
}
.message-box p {
  max-width: 460px;
  margin: 2rem auto;
  padding:0 1rem;
  font-size: .85rem;
}

.sponsor-logo-primary {
  max-width: 320px;
  width: 100%;
  display: block;
  margin:0;
}
.sponsor-flex-secondary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sponsor-logo-secondary {
  max-width:280px;
  width: 100%;
  margin: 1rem;
}
.sponsor-flex {
  display: flex;
  flex-wrap: wrap;
}
.sponsor-flex div {
  flex: 1;
}
.sponsor-list {
  list-style: none;
}
.sponsor-list li:before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: gold; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.container {
  /* background-image: url('https://dev.prablog.pelgp.org/wp-content/uploads/2016/08/Banner_WhyPgh.jpg'); */
  background-image: url('../img/pgh_map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 0;
  position: relative;
}
.color-overlay {
  position: absolute;
  /* background: rgba(000,000, 000, .85); */
  background: #333;
  height: 100%;
  width: 100%;
  top:0;
}
.content-overlay {
  z-index: 4;
  position: relative;
  color: #eeeeee;
}
.quote {
  border-left: 3px solid gold;
  
}
.quote p {
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-style: italic;
  opacity: .8;
  padding-left: 1rem;
}

.events-container {
  display: flex;
  flex-direction: column;
}
.event {
  background: #eeeeee;
  padding: .75rem;
  margin: 1rem 0;
  max-width: 300px;
}
.event-title {
  width: auto;
}
.event-date {
  font-size:.9rem;
  display: flex;
  font-family:  'PT Serif', serif;
}
.event-venue {
  font-size: .9rem;
  line-height: 1.3;
  display: flex;
  font-family:  'PT Serif', serif;
}
.event-time {
  font-size: .9rem;
  line-height: 1.3;
  display: flex;
  font-family:  'PT Serif', serif;
}
.event-sponsor img {
  max-width:200px; 
  width:100%; 
  margin:0 auto; 
  display:block;
}
.event-icon img {
  width: 20px;
  margin-right: 5px;
}
.members {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.members span {
  flex:0 0 50%;
  line-height: 1.3;
  margin-bottom:1.5rem;
}
.members span em {
  font-size:.85rem;
  line-height: .9;
  opacity: .7;
}
footer {
  color:#f8f8f8;
}
/*** popup box ***/
#module {
  display:none;
  padding: 1rem;
}

div#colorbox {
  z-index: 4;
  background: #eee;
  color: #555;
  border: solid 5px gold;
  text-align: center;
  opacity: .95;
  
}
div#colorbox:focus {
  border:5px solid gold;
}
div#colorbox:active {
  border:3px solid gold;
}
button#cboxClose {
  background: transparent;
  font-size: 1rem;
  color: #555;
  padding: .5rem;
  /* border-right: solid 5px gold;
  border-left: solid 5px gold;
  border-bottom: solid 5px gold;
  border-top: none; */
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: lighter;
  cursor: pointer;
}
.popup-btn {
  background: #333;
  color: white;
  transition: all .4s ease;
  padding: 1rem;
  text-decoration: none;
  font-size:1.2rem;
  max-width: 300px;
  width:100%;
  font-weight: lighter;
}
.popup-btn:hover {
  background: black;
  color:gold;
}
/******** MEDIA QUERIES *******/
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar-mobile-container {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size:2.7rem;
  }
  h2 {
    font-size: 2rem;
  }
 

  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap-reverse {
    flex-direction: row;
  }

  .quote p {
    font-size: 2.15rem;
    padding-left: 1.5rem;
  }
  
  .members span {
    flex: 0 0 30%;
    margin-right: 1.6rem;
  }
  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .event {
    width: 270px;
    margin: 1rem 1rem 0 0;
  }
  .sponsor-logo-primary {
    max-width: 400px;
    margin:1rem;
  }
}

@media only screen and (min-width: 890px) {
  .events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .event {
    max-width: 230px;
    margin: 1rem .5rem 1rem 0;
  }
  
}


